<div class="container">
<%= image_tag ("devise.png"), class:"img-fluid", alt:"Responsive image" %>
</div>
<div class="container pt-4">
    <h3><u>Créer une appli rails avec devise</u></h3>

    <p>Sur le terminal, créer une applications rails version 5 avec une base postgresql.</p>
    <img><%= image_tag ("tuto_1.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Ajouter la gem devise a votre Gemfile.</p>
    <img><%= image_tag ("tuto_2.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Lancer un bundle install.</p>
    <img><%= image_tag ("tuto_3.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Créer la base de donnée.</p>
    <img><%= image_tag ("tuto_4.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Installer devise.</p>
    <img><%= image_tag ("tuto_5.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Suivre les instructions.</p>
    <img><%= image_tag ("tuto_6.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Configurer l action mailer dans la branche config/development.rb.</p>
    <img><%= image_tag ("tuto_7.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Ajouter le render dans la branche app/views/layouts/application.html.erb, et créer une file _flash.html.erb.</p>
    <img><%= image_tag ("tuto_8.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Configurer les flash messages dans la branche app/views/layouts/_flash.html.erb.</p>
    <img><%= image_tag ("tuto_9.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Configurer les routes dans config/routes.rb.</p>
    <img><%= image_tag ("tuto_10.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Génerer les views.</p>
    <img><%= image_tag ("tuto_11.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Génerer le model User.</p>
    <img><%= image_tag ("tuto_12.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Modele créer</p>
    <img><%= image_tag ("tuto_13.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Effectuer la migration.</p>
    <img><%= image_tag ("tuto_14.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Ajouter le render (cf. flash message), et créer une file _navbar.html.erb puis configurer les liens pour se connecter.</p>
    <img><%= image_tag ("tuto_15.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Lancer un serveur et se rendre sur localhost:3000.</p>
    <img><%= image_tag ("tuto_16.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Les formulaires de connections sont déjà generé par devise.</p>
    <img><%= image_tag ("tuto_17.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>authenticate user/ current_user / user_signed_in?.</p>
    <p><%= link_to "Gem devise", "https://github.com/heartcombo/devise", target: "_blank", rel: "alternate" %></p>
    
    
    <h3><u>Omniauth Google OAuth2</u></h3>

    <p>Ajouter les gem omniauth, omniauth-google-oauth2, omniauth-rails_csrf_protection a votre Gemfile.</p>
    <img><%= image_tag ("omni_1.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Lancer un bundle install.</p>
    <img><%= image_tag ("tuto_3.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Configuer les identifiants dans config/intializer/devise.rb</p>
    <img><%= image_tag ("omni_2.png"), class:"img-fluid", alt:"Responsive image" %></img>
    
    <p>Modifier les routes dans config/routes.rb</p>
    <img><%= image_tag ("omni_3.png"), class:"img-fluid", alt:"Responsive image" %></img>
    
    <p>Modifier le model dans apps/models/user.rb</p>
    <img><%= image_tag ("omni_4.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Créer un fichier callback dans omniauth_callbacks_controller.rb dans app/controllers/users.</p>
    <img><%= image_tag ("omni_5.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Créer le controller de registration dans app/controllers/registrations_controller.rb</p>
    <img><%= image_tag ("omni_6.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Ajouter la methode dans apps/models/user/rb.</p>
    <img><%= image_tag ("omni_7.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Créer le lien pour se conencter.</p>
    <img><%= image_tag ("omni_8.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p><%= link_to "Gem Ommiauth", "https://github.com/zquestz/omniauth-google-oauth2", target: "_blank", rel: "alternate" %></p>

    <h3><u>Créer une API sur google developer</u></h3>

    <p>S inscrire sur le site de google dev, et creer une nouvelle appli</p>
    <img><%= image_tag ("google_dev1.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Rentrer les uri de callback</p>
    <img><%= image_tag ("google_dev2.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p>Mettre votre id et votre clé dans le fichier.env</p>
    <img><%= image_tag ("google_dev3.png"), class:"img-fluid", alt:"Responsive image" %></img>

    <p><%= link_to "Ommiauth google video", "https://www.youtube.com/watch?v=9pD0uXLI5uE", target: "_blank", rel: "alternate" %></p>
    
    <h3><u>Sur cette application</u></h3>
    <p>Vous pouvez clonez cette application sur github, elle dispose aussi d'un mailer, de la possibilité d'avoir un compte admin.</p>
    <p>Les liens et la gem turbolinks sont retirés, attention la gem mini racer est installé, elle peut poser problème.</p>
    <p>Boostsrap est branché sur l application.</p>
    <p>Il reste à régler vos adresse au niveau du mailer, de générer vos cle api et de les rentrer ds le fichier .env, n'oubliez pas d'ajouter le .env dans votre fichier gitignore.</p>
    <p><%= link_to "Mailer", "https://medium.com/@ericschwartz7/rails-mailer-tutorial-82700f6737d9", target: "_blank", rel: "alternate" %></p>
    <p><%= link_to "back", root_path %></p>
</div>